@import 'vars';
@import 'fonts';
@import 'global';

//STYLES-SECTION: sections styles
//STYLES-SECTION: header
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border: 1px solid #000000;

  &__inner {
    padding: 30px 0;
  }

  &__status {
    padding: 5px 22px;
    border: 1px solid #000000;
    border-radius: 20px;
    font-family: "Julee", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
  }

  &__online-counter {
    margin: 0 auto 0 30px;
    color: #32AE3F;
    text-decoration: underline;
    font-family: "Julee", sans-serif;
    font-size: 30px;
    line-height: 1.17;
    transform: rotate(-10.5deg);
  }

  &__button-wrapper {
    flex-grow: 1;
    max-width: 756px;
  }

  &__btn {
    min-width: 210px;

    &.yellow-btn--transparent:hover {
      color: var(--green-1);
    }
  }
}

//!STYLES-SECTION

//STYLES-SECTION: top
.top {
  position: relative;
  min-height: calc(100vh - 96px);
  overflow: hidden;
  text-align: center;

  & .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 96px);
  }

  &__title {
    font-family: Notable;
    font-size: 72px;
    line-height: 94px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--yellow-2);
    margin: auto;
  }

  &__timer {
    width: 40%;
    margin: auto;
    font-family: Notable;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.1em;
    color: #D61E1E;
  }

  &__subtitle {
    font-family: Noto Sans;
    font-weight: 800;
    font-size: 72px;
    color: var(--yellow-2);
    margin: auto;
  }

  &__subtitle-row {
    display: block;
    margin: auto;

    &--bottom {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__open-date {
    font-family: Noto Sans;
    font-size: 36px;
    line-height: 49px;
    color: #B9B8A2;
    margin: auto;
  }

  &__buttons-wrapper {
    margin: auto;
    width: 100%;
  }

  &__button {
    min-width: 350px;
  }

  &__switchers-wrapper {
    width: 100%;
    padding-bottom: 3%;
    position: relative;

    &::before {
      content: "";
      width: 100vw;
      height: 120%;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      z-index: 0;
      background: rgba(0, 0, 0, .8);
    }
  }



  &__tab-switcher {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--green-3);
    transition: all ease-in-out .26s;
    position: relative;
    width: 240px;
    min-width: unset;
    padding: 5px 15px;

    &:hover {
      color: var(--yellow-1);
    }
  }
}

//!STYLES-SECTION

//STYLES-SECTION: about
.about-inner {
  display: grid;
  display: grid;
  grid-template-columns: 405px 900px;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 43px;
}

.about {

  &__text {
    padding: 40px 45px;
    margin: 0;
    font-family: Roboto Condensed;
    font-size: 24px;
    line-height: 28px;
    color: var(--yellow-2);

    &--small {
      grid-column: 1;
      background: rgba(8, 29, 54, 0.9);
      border-radius: 0px 0px 20px 20px;
      font-family: Open Sans;
      font-size: 15px;
      line-height: 20px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 95%;
        height: 3px;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #424242;
      }
    }

    &--big {
      grid-column: 2;
      grid-row: 1/4;
      height: 100%;
      padding: 30px 0 0 0;
      text-align: center;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__list {
    list-style: none;
    columns: 2;
    margin: 25px auto 25px;
    padding: 0;
    text-align: left;
    width: 90%;
    max-width: 650px;
  }

  &__image {
    width: 100%;
    margin-top: auto;
    padding: 0;
    object-fit: contain;
    height: auto;
    filter: brightness(0.2);
    transition: all ease-in-out .26s;

    &:hover {
      filter: none
    }
  }
}

//!STYLES-SECTION

//Anchor

//STYLES-SECTION: download
.download {
  margin-top: 85px;

  &__inner {
    //flex-wrap: wrap;
    //margin-right: -172px;
    align-items: stretch;
  }

  &__col {
    flex: 0 1 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    flex: 0 0 auto;
    min-width: 300px;

    &.btn--icon {
      padding: 18px 72px 18px 32px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 33px;
        margin-left: 20px;
        top: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='34' viewBox='0 0 25 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5088 26.3513C12.703 26.5476 13.0196 26.5493 13.2159 26.3551L16.4151 23.1904C16.6114 22.9962 16.6132 22.6797 16.419 22.4833C16.2248 22.287 15.9082 22.2853 15.7119 22.4795L12.8681 25.2925L10.0551 22.4488C9.8609 22.2525 9.54432 22.2508 9.348 22.445C9.15168 22.6392 9.14996 22.9557 9.34416 23.1521L12.5088 26.3513ZM12.5 0.997286L12.3643 25.9969L13.3643 26.0023L13.5 1.00271L12.5 0.997286Z' fill='%23F8F6D9'/%3E%3Cline y1='31.5' x2='25' y2='31.5' stroke='%23F8F6D9'/%3E%3C/svg%3E%0A");
        transition: all 0.26s;
      }

      &:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='34' viewBox='0 0 25 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5088 26.3513C12.703 26.5476 13.0196 26.5493 13.2159 26.3551L16.4151 23.1904C16.6114 22.9962 16.6132 22.6797 16.419 22.4833C16.2248 22.287 15.9082 22.2853 15.7119 22.4795L12.8681 25.2925L10.0551 22.4488C9.8609 22.2525 9.54432 22.2508 9.348 22.445C9.15168 22.6392 9.14996 22.9557 9.34416 23.1521L12.5088 26.3513ZM12.5 0.997286L12.3643 25.9969L13.3643 26.0023L13.5 1.00271L12.5 0.997286Z' fill='%234b4b40'/%3E%3Cline y1='31.5' x2='25' y2='31.5' stroke='%234b4b40'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

//!STYLES-SECTION

//STYLES-SECTION: description
.description {

  &__inner {
    align-items: stretch;
    min-height: 650px;
  }

  &__tabs-wrapper {
    border: 1px solid #4B4B40;
    box-sizing: border-box;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: 0 1 420px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    color: var(--yellow-2);
    font-size: 14px;
    line-height: 19px;
    background-color: #4B4B4040;
  }

  &__tab {
    display: none;
    padding: 42px;
  }

  &__tab-text {
    opacity: 0.7;

    &--op-1 {
      opacity: 1;
    }

    &--l {
      font-size: 20px;
      line-height: 23px;
    }

    &--m {
      font-size: 16px;
      line-height: 19px;
    }

    &--upper {
      text-transform: uppercase;
    }
  }

  &__discord-widget {
    flex: 0 0 420px;
    background-image: url(../images/image-4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
  }

  &__discord-right {
    min-height: 260px;
    margin-left: 105px;
    flex: 0 0 68px;
    align-self: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/image-5.jpg);
  }
}

//!STYLES-SECTION

//STYLES-SECTION: myths
.myths {
  color: var(--yellow-2);
  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  &__col--list {
    margin-top: 60px;
  }

  &--sub-section {
    margin-bottom: 65px;
  }

  &__text {
    margin: 16px 0;
  }

  &__title {
    font-size: 36px;
    line-height: 42px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin: 12px 0;

    &--bold {
      font-weight: 700;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    margin: 36px 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 36px;
    font-size: 16px;
    line-height: 19px;
  }

  &__list-item+&__list-item {
    margin-top: 16px;
  }
}

//!STYLES-SECTION

//STYLES-SECTION: privilegies

.privilegie {
  &__col {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--yellow-2);
    font-family: Roboto Condensed;
    font-size: 16px;
    line-height: 19px;
  }

  &__image {
    width: 90%;
    align-self: flex-start;
    object-fit: contain;
  }

  &__title,
  &__list {
    text-transform: uppercase;
  }

  &__list,
  &__text {
    opacity: 0.7;
  }

  &__title {
    opacity: 1;
  }

  &__title-image {
    margin-right: 20px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    text-transform: uppercase;
  }

  &__list-item+&__list-item {
    margin-top: 1em;
  }

  &__text {
    margin-top: 40px;
  }
}

//!STYLES-SECTION

//STYLES-SECTION: registration
.registration {
  margin-top: 64px;

  &__left {
    width: 450px;
    height: 525px;
    border: 1px solid #4B4B40;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  &__form {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    max-width: 400px;
    user-select: none;
  }

  &__form-label {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 6px;

    input {
      display: block;
      width: 100%;
      background: #03060C;
      padding: 13px 25px;
      border: none;
      color: #E8EFFD;
      font-size: 14px;

      &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #E8EFFD;
      }

      &:hover::placeholder,
      &:focus::placeholder {
        color: var(--yellow-1);
      }

      &:focus+.registration__label-button {
        display: none;
      }
    }

    &--white input {
      background-color: #E8EFFD;
      color: #03060c;

      &::placeholder {
        color: #03060c;
      }

      &:hover::placeholder,
      &:focus::placeholder {
        outline: 1px var(--yellow-1);
      }
    }
  }

  &__form-title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 35px;
  }

  &__label-button {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: var(--yellow-1);

    &:hover,
    &:focus {
      color: #F2F3F9;
    }
  }

  &__form-button {
    background-color: #259386;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #F2F3F9;
    border-radius: 15px;
    display: block;
    width: 100%;
    border: none;
  }
}

//!STYLES-SECTION
//STYLES-SECTION: twitch
.twitch__top {
  margin: 28px auto;
  justify-content: center;
}

.twitch__logo {
  margin-left: auto;
  display: block;
}

//!STYLES-SECTION

//STYLES-SECTION: footer
.footer {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}

//!STYLES-SECTION
//!STYLES-SECTION

@import 'media';